/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

#page-wrap		    { width: 1300px; margin: center;background-image: background: no-repeat; background-size: 100%}

h1                 { text-align: center; font: 30px Georgia, Serif; text-transform: uppercase; letter-spacing: 3px;}


#quiz input {
    margin: 10px 60px 10px 200px;
    
}

#quiz ol {
   margin: 10px 70px 10px 200px;
   font-size: 15px;
    
}

#quiz ol li {
   margin: 10px 70px 20px 50px;
   font-size: 20px;
    
}

#quiz ol li div {
   padding: 7px 0;
   font-size: 15px;


    
}

#quiz h3 {
   font-size: 20px; margin: 0 0 1px 0;
  
}

#results {
    font: 40px Georgia, Serif;
    text-align: center;
}

#buttons :hover {
   background: #6f8ebf;
  background-image: -webkit-linear-gradient(top, #6f8ebf, #424954);
  background-image: -moz-linear-gradient(top, #6f8ebf, #424954);
  background-image: -ms-linear-gradient(top, #6f8ebf, #424954);
  background-image: -o-linear-gradient(top, #6f8ebf, #424954);
  background-image: linear-gradient(to bottom, #6f8ebf, #424954);
  text-decoration: none;
}

#submit :hover{
  background: #8f6678;
  background-image: -webkit-linear-gradient(top, #8f6678, #db5858);
  background-image: -moz-linear-gradient(top, #8f6678, #db5858);
  background-image: -ms-linear-gradient(top, #8f6678, #db5858);
  background-image: -o-linear-gradient(top, #8f6678, #db5858);
  background-image: linear-gradient(to bottom, #8f6678, #db5858);
  text-decoration: none;

}

#button1 :hover {
   background: #6f8ebf;
  background-image: -webkit-linear-gradient(top, #6f8ebf, #424954);
  background-image: -moz-linear-gradient(top, #6f8ebf, #424954);
  background-image: -ms-linear-gradient(top, #6f8ebf, #424954);
  background-image: -o-linear-gradient(top, #6f8ebf, #424954);
  background-image: linear-gradient(to bottom, #6f8ebf, #424954);
  text-decoration: none;
}


