.accordion {
    background-color: #808080;
    color: #444;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 17px;
    transition: 0.4s;
    border-style: double;
    font-weight: bold;
}

.active, .accordion:hover {
    background-color: #00FF7F;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}
mark {
  background-color: #18c0ef;
}
#div1 {-webkit-animation-timing-function: linear;}
#div1 {animation-timing-function: linear;}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 300px;}
}

/* Standard syntax */
@keyframes mymove {
    from {left: 0px;}
    to {left: 300px;}
}